<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
	xmlns:android   = "http://schemas.android.com/apk/res/android"
    id        = "de.toro-digital.eskaLagerCheck"
    version   = "1.0.10"
	versionCode = "719"	>
<!-- versionCode = nur Android: Muss sich stets erhöhen -->

<name>Lager Check</name>

<description>
Utility App für die Gefahrstoff-Lagerung.
</description>

<author href="http://www.toro-digital.de" email="info@toro-digital.de">
TORO digital
</author>

<preference name="orientation" value="portrait" />
<preference name="target-device" value="handset" />
<preference name="webviewbounce" value="false" />
<preference name="ios-statusbarstyle" value="black-opaque" />
<preference name="prerendered-icon" value="true" />
<preference name="stay-in-webview" value="false" />
<preference name="android-build-tool" value="ant" />

    <!-- Define app icon for each platform. -->
	<!-- Universal -->
    <icon src="images/icons/ios/icon-144.png" />
	
	<!-- Android -->
    <icon src="images/icons/android/icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="images/icons/android/icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="images/icons/android/icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="images/icons/android/icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />

	<!-- iOS -->	
    <icon src="images/icons/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="images/icons/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="images/icons/ios/icon-114.png"     	    gap:platform="ios"        width="114" height="114" />
    <icon src="images/icons/ios/icon-120.png"     	    gap:platform="ios"        width="120" height="120" />
    <icon src="images/icons/ios/icon-144.png"     	    gap:platform="ios"        width="144" height="144" />

    <!-- Define app splash screen for each platform. -->
	
	<!-- Android -->
    <gap:splash src="images/splash/android/splash-ldpi.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="images/splash/android/splash-mdpi.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="images/splash/android/splash-hdpi.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="images/splash/android/splash-xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	
	<!-- iOS -->	
    <gap:splash src="images/splash/ios/splash.png"    gap:platform="ios"     width="320" height="460" />
    <gap:splash src="images/splash/ios/splash-2x.png" gap:platform="ios"     width="640" height="920" />
    <gap:splash src="images/splash/ios/splash-iPhone5.png" gap:platform="ios"     width="640" height="1136" />

	<preference name="permissions" value="none"/>

	<gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
	<preference name="StatusBarOverlaysWebView" value="false" />
	
	<!-- to enable individual permissions use the following examples -->
	<!-- feature name="http://api.phonegap.com/1.0/battery"/>
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/contacts"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/ -->

</widget>
